

@mixin flexbox() {display: flex;font-size:0;}

//<ФРИФТ>
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

//<ИМПОРТ>
@import "forms.scss";

//ШРИФТ ПО УМОЛЧАНИЮ
$fontfamily:"Lato";

//<ПЕРЕМЕННЫЕ>
$minwidth:320px;
$mw:1100;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

//<>ОБНУЛЕНИЕ
*{margin: 0;
padding: 0;
border: none;
outline: none;
background: none;
list-style: none;}
*,*:before,*:after{box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;}
body{font-size: 14px;line-height: 1;font-family:$fontfamily;
    &.lock{overflow: hidden;
        @media(max-width:$md3+px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}

//<ОБОЛОЧКА>
.wrapper{width: 100%;min-height: 100%; @include flexbox();flex-direction: column;}

//<ОСНОВНАЯ СЕТКА>
.container{width: 100%; min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
        &.loaded{}
}
.mainblock {
    flex: 1 1 auto;
    position: relative;
    @include flexbox();
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    @madia screen and (max-width: $md3+px),
        screen and (max-height: 600px) {
            padding: 20px 0;
        }
// mainblock__content
    &__content {
        position: relative;
        z-index: 1;
        height: 100%;
    }
// mainblock__logo
    &__logo {}
// mainblock__text
    &__text {
        color: #fff;
        position: relative;
        padding: 0px 0px 45px 0px;
        margin: 160px 0px 200px 0px;
        &:after{
            content: '';
            width: 105px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            margin: 0px 0px 0px -45px;
            bottom: 0;
        }
    }
    &__title {
        font-size: 34px;
        font-weight: 900;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 5.43px;
        padding: 0px 0px 10px 0px;
        @madia screen and (max-width: $md3+px) , screen and (max-height: 600px) {
            font-size: 25px;
            line-height: 30px;
        }
    }
    &__subtitle {
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 4.15px;
        text-align: center;
    }
    &__footer {}
    &__btn {}
    &__arrow {}
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}